USE [master]
GO
/****** Object:  Database [QuanLy_HieuSuat]    Script Date: 13/03/2026 2:06:42 CH ******/
CREATE DATABASE [QuanLy_HieuSuat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLy_HieuSuat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QuanLy_HieuSuat.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLy_HieuSuat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\QuanLy_HieuSuat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLy_HieuSuat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLy_HieuSuat]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[MaNhanVien] [int] NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[MABINHLUAN] [int] IDENTITY(1,1) NOT NULL,
	[MACONGVIEC] [int] NULL,
	[MANHANVIEN] [int] NULL,
	[NOIDUNG] [nvarchar](1000) NULL,
	[NGAYTAO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABINHLUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[MACONGVIEC] [int] IDENTITY(1,1) NOT NULL,
	[MADUAN] [int] NOT NULL,
	[MATRANGTHAI] [int] NOT NULL,
	[CON_MACONGVIEC] [int] NULL,
	[TENCONGVIEC] [nvarchar](300) NULL,
	[MOTA] [nvarchar](max) NULL,
	[HANHOANTHANH] [datetime] NULL,
	[TRANGTHAI] [int] NULL,
	[DOUUTIEN] [int] NULL,
	[DOKHO] [int] NULL,
	[DIEMCONGVIEC] [float] NULL,
	[TONGCONGVIECCON] [int] NULL,
	[MACONGVIECCHA] [int] NULL,
 CONSTRAINT [PK_CONGVIEC] PRIMARY KEY CLUSTERED 
(
	[MACONGVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CV_DINHKEM_TL]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV_DINHKEM_TL](
	[MACONGVIEC] [int] NOT NULL,
	[MATAILIEU] [int] NOT NULL,
 CONSTRAINT [PK_CV_DINHKEM_TL] PRIMARY KEY CLUSTERED 
(
	[MACONGVIEC] ASC,
	[MATAILIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUCKPI]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCKPI](
	[MADOANHMUC] [int] NOT NULL,
	[TENDOANHMUC] [nvarchar](50) NULL,
	[TRONGSO] [float] NULL,
 CONSTRAINT [PK_DANHMUCKPI] PRIMARY KEY CLUSTERED 
(
	[MADOANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUAN]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUAN](
	[MADUAN] [int] IDENTITY(1,1) NOT NULL,
	[TENDUAN] [nvarchar](300) NULL,
	[MOTA] [nvarchar](max) NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_DUAN] PRIMARY KEY CLUSTERED 
(
	[MADUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUDOANAI]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUDOANAI](
	[MADUDOAN] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[DIEMDUDOAN] [float] NULL,
	[DEXUATCAITHIEN] [nvarchar](max) NULL,
	[THOIGIANDUDOAN] [datetime] NULL,
	[MADOITUONG] [int] NULL,
	[XACSUATTREHAN] [float] NULL,
	[GIOIYNGUONLUC] [nvarchar](max) NULL,
 CONSTRAINT [PK_DUDOANAI] PRIMARY KEY CLUSTERED 
(
	[MADUDOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUAKPI]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUAKPI](
	[MAKETQUA] [int] NOT NULL,
	[MANHANVIEN] [int] NOT NULL,
	[MADOANHMUC] [int] NOT NULL,
	[DIEMSO] [float] NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
 CONSTRAINT [PK_KETQUAKPI] PRIMARY KEY CLUSTERED 
(
	[MAKETQUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYNANG]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYNANG](
	[MAKYNANG] [int] NOT NULL,
	[TENKYNANG] [nvarchar](300) NULL,
 CONSTRAINT [PK_KYNANG] PRIMARY KEY CLUSTERED 
(
	[MAKYNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYNANGNHANVIEN]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYNANGNHANVIEN](
	[MANHANVIEN] [int] NOT NULL,
	[MAKYNANG] [int] NOT NULL,
	[CAPDO] [int] NULL,
	[SODUANDADUNGKYNANGNAY] [int] NULL,
 CONSTRAINT [PK_KYNANGNHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC,
	[MAKYNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[MAPHONGBAN] [int] NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[CCCD] [varchar](12) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[EMAIL] [varchar](300) NULL,
	[SDT] [varchar](10) NULL,
	[NGAYVAOLAM] [date] NULL,
	[TRANGTHAI] [int] NULL,
	[SONAMKINHNGHIEM] [float] NULL,
	[DIEMKPI_TICHLUY] [float] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHATKYCONGVIEC]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHATKYCONGVIEC](
	[MANHATKYCONGVIEC] [int] IDENTITY(1,1) NOT NULL,
	[MACONGVIEC] [int] NOT NULL,
	[PHANTRAMHOANTHANH] [float] NULL,
	[GHICHU] [nvarchar](max) NULL,
	[NGAYCAPNHAT] [datetime] NULL,
 CONSTRAINT [PK_NHATKYCONGVIEC] PRIMARY KEY CLUSTERED 
(
	[MANHATKYCONGVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHATKYHOATDONG]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHATKYHOATDONG](
	[MANHATKYHOATDONG] [int] NOT NULL,
	[MANHANVIEN] [int] NOT NULL,
	[HANHDONG] [nvarchar](max) NULL,
	[THOIGIAN] [datetime] NULL,
 CONSTRAINT [PK_NHATKYHOATDONG] PRIMARY KEY CLUSTERED 
(
	[MANHATKYHOATDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOM]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM](
	[MANHOM] [int] IDENTITY(1,1) NOT NULL,
	[TENNHOM] [nvarchar](50) NULL,
	[NGAYTAO] [datetime] NULL,
 CONSTRAINT [PK_NHOM] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONGCONGVIEC]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONGCONGVIEC](
	[MAPHANCONG] [int] IDENTITY(1,1) NOT NULL,
	[MACONGVIEC] [int] NOT NULL,
	[MAPHONGBAN] [int] NULL,
	[MANHOM] [int] NULL,
	[MANHANVIEN] [int] NULL,
	[LOAIDOITUONG] [nvarchar](50) NULL,
	[NGAYGIAO] [datetime] NULL,
	[NGAYBATDAUDUKIEN] [datetime] NULL,
	[NGAYKETTHUCDUKIEN] [datetime] NULL,
	[NGAYBATDAUTHUCTE] [datetime] NULL,
	[NGAYKETTHUCTHUCTE] [datetime] NULL,
 CONSTRAINT [PK_PHANCONGCONGVIEC] PRIMARY KEY CLUSTERED 
(
	[MAPHANCONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPHONGBAN] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONGBAN] [nvarchar](50) NULL,
	[MOTA] [nvarchar](max) NULL,
	[MATRUONGPHONG] [int] NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MAPHONGBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAILIEU]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAILIEU](
	[MATAILIEU] [int] IDENTITY(1,1) NOT NULL,
	[TENTAILIEU] [nvarchar](300) NULL,
	[HUONGDAN] [nvarchar](max) NULL,
 CONSTRAINT [PK_TAILIEU] PRIMARY KEY CLUSTERED 
(
	[MATAILIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHVIENNHOM]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIENNHOM](
	[MANHOM] [int] NOT NULL,
	[MANHANVIEN] [int] NOT NULL,
	[NGAYGIANHAP] [datetime] NULL,
	[VAITROTRONGNHOM] [nvarchar](100) NULL,
 CONSTRAINT [PK_THANHVIENNHOM] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC,
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[MATHONGBAO] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[DADOC] [bit] NULL,
	[THOIGIAN] [datetime] NULL,
 CONSTRAINT [PK_THONGBAO] PRIMARY KEY CLUSTERED 
(
	[MATHONGBAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO_CHO_NV]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO_CHO_NV](
	[MATHONGBAO] [int] NOT NULL,
	[MANHANVIEN] [int] NOT NULL,
 CONSTRAINT [PK_THONGBAO_CHO_NV] PRIMARY KEY CLUSTERED 
(
	[MATHONGBAO] ASC,
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAICONGVIEC]    Script Date: 13/03/2026 2:06:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAICONGVIEC](
	[MATRANGTHAI] [int] NOT NULL,
	[TENTRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRANGTHAICONGVIEC] PRIMARY KEY CLUSTERED 
(
	[MATRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260301102155_AddIdentityTables', N'8.0.24')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'9a8258ac-fd80-4bea-a64e-6f1cfe920f09', N'NhanVien', N'NHANVIEN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'role-admin-001', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'role-user-001', N'User', N'USER', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'user-001', N'role-admin-001')
GO
INSERT [dbo].[AspNetUsers] ([Id], [MaNhanVien], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'user-001', 1, N'trong', N'TRONG', N'trong@gmail.com', N'TRONG@GMAIL.COM', 1, N'AQAAAAIAAYagAAAAENkEDZMqtLj6ixgjzGBbNwbBWs1MzbuLkyA846KXHBFHoJuusw/HQEDJ1pFBHF3uZA==', N'VR4YMF74TCDO7KY44FMSXKLMFLGMYELF', N'fa87cd27-d4fd-4e69-97c0-ce114681ac44', N'0901234567', 1, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[BINHLUAN] ON 

INSERT [dbo].[BINHLUAN] ([MABINHLUAN], [MACONGVIEC], [MANHANVIEN], [NOIDUNG], [NGAYTAO]) VALUES (1, 37, 26, N'Nhận thông tin', CAST(N'2026-03-11T14:50:05.713' AS DateTime))
INSERT [dbo].[BINHLUAN] ([MABINHLUAN], [MACONGVIEC], [MANHANVIEN], [NOIDUNG], [NGAYTAO]) VALUES (2, 47, 23, N'Mọi thứ đang đi đúng lộ trình, dự kiến xong trước hạn 2 ngày.', CAST(N'2026-03-11T13:50:05.713' AS DateTime))
INSERT [dbo].[BINHLUAN] ([MABINHLUAN], [MACONGVIEC], [MANHANVIEN], [NOIDUNG], [NGAYTAO]) VALUES (3, 34, 16, N'Đã xử lý xong các bug tồn đọng từ tuần trước.', CAST(N'2026-03-11T12:50:05.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[BINHLUAN] OFF
GO
SET IDENTITY_INSERT [dbo].[CONGVIEC] ON 

INSERT [dbo].[CONGVIEC] ([MACONGVIEC], [MADUAN], [MATRANGTHAI], [CON_MACONGVIEC], [TENCONGVIEC], [MOTA], [HANHOANTHANH], [TRANGTHAI], [DOUUTIEN], [DOKHO], [DIEMCONGVIEC], [TONGCONGVIECCON], [MACONGVIECCHA]) VALUES (1, 1, 2, NULL, N'Mục tiêu lớn: Phân tích hệ thống', N'Đây là nhiệm vụ chiến lược cấp cao cần phân rã ra các task con để thực hiện.', CAST(N'2026-12-31T00:00:00.000' AS DateTime), 2, 2, 4, 10, 4, NULL)
INSERT [dbo].[CONGVIEC] ([MACONGVIEC], [MADUAN], [MATRANGTHAI], [CON_MACONGVIEC], [TENCONGVIEC], [MOTA], [HANHOANTHANH], [TRANGTHAI], [DOUUTIEN], [DOKHO], [DIEMCONGVIEC], [TONGCONGVIECCON], [MACONGVIECCHA]) VALUES (2, 1, 2, NULL, N'Triển khai cụ thể task 2', N'Thực hiện chi tiết phần việc được giao từ mục tiêu 1', CAST(N'2026-05-01T00:00:00.000' AS DateTime), 2, 1, 2, 5, NULL, 1)
INSERT [dbo].[CONGVIEC] ([MACONGVIEC], [MADUAN], [MATRANGTHAI], [CON_MACONGVIEC], [TENCONGVIEC], [MOTA], [HANHOANTHANH], [TRANGTHAI], [DOUUTIEN], [DOKHO], [DIEMCONGVIEC], [TONGCONGVIECCON], [MACONGVIECCHA]) VALUES (3, 1, 2, NULL, N'Triển khai cụ thể task 3', N'Thực hiện chi tiết phần việc được giao từ mục tiêu 1', CAST(N'2026-05-01T00:00:00.000' AS DateTime), 2, 1, 2, 5, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[CONGVIEC] OFF
GO
INSERT [dbo].[CV_DINHKEM_TL] ([MACONGVIEC], [MATAILIEU]) VALUES (8, 1)
INSERT [dbo].[CV_DINHKEM_TL] ([MACONGVIEC], [MATAILIEU]) VALUES (16, 1)
INSERT [dbo].[CV_DINHKEM_TL] ([MACONGVIEC], [MATAILIEU]) VALUES (24, 1)
GO
INSERT [dbo].[DANHMUCKPI] ([MADOANHMUC], [TENDOANHMUC], [TRONGSO]) VALUES (1, N'Tiến độ hoàn thành', 0.4)
INSERT [dbo].[DANHMUCKPI] ([MADOANHMUC], [TENDOANHMUC], [TRONGSO]) VALUES (2, N'Chất lượng sản phẩm', 0.4)
INSERT [dbo].[DANHMUCKPI] ([MADOANHMUC], [TENDOANHMUC], [TRONGSO]) VALUES (3, N'Kỷ luật & Tương tác', 0.2)
GO
SET IDENTITY_INSERT [dbo].[DUAN] ON 

INSERT [dbo].[DUAN] ([MADUAN], [TENDUAN], [MOTA], [NGAYBATDAU], [NGAYKETTHUC], [TRANGTHAI]) VALUES (1, N'Hệ thống ERP 2025', N'Triển khai quản trị nguồn lực tổng thể cho doanh nghiệp đối tác', CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-10-30T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[DUAN] ([MADUAN], [TENDUAN], [MOTA], [NGAYBATDAU], [NGAYKETTHUC], [TRANGTHAI]) VALUES (2, N'Nền tảng E-Learning v1', N'Số hóa học liệu và quy trình đào tạo trực tuyến', CAST(N'2025-05-15T00:00:00.000' AS DateTime), CAST(N'2025-12-25T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[DUAN] ([MADUAN], [TENDUAN], [MOTA], [NGAYBATDAU], [NGAYKETTHUC], [TRANGTHAI]) VALUES (3, N'Smart Performance AI 2026', N'Phát triển module AI dự báo hiệu suất dựa trên Linear Regression', CAST(N'2026-01-05T00:00:00.000' AS DateTime), CAST(N'2026-06-30T00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[DUAN] OFF
GO
SET IDENTITY_INSERT [dbo].[DUDOANAI] ON 

INSERT [dbo].[DUDOANAI] ([MADUDOAN], [MANHANVIEN], [THANG], [NAM], [DIEMDUDOAN], [DEXUATCAITHIEN], [THOIGIANDUDOAN], [MADOITUONG], [XACSUATTREHAN], [GIOIYNGUONLUC]) VALUES (1, 1, 3, 2026, 91.311408996582031, N'Cần tập trung tối ưu hóa thời gian xử lý các task con có độ khó cấp 4.', CAST(N'2026-03-11T15:50:15.097' AS DateTime), NULL, 0.098218337515828411, N'Bổ sung nhân sự hỗ trợ mảng Testing vào giai đoạn cuối.')
INSERT [dbo].[DUDOANAI] ([MADUDOAN], [MANHANVIEN], [THANG], [NAM], [DIEMDUDOAN], [DEXUATCAITHIEN], [THOIGIANDUDOAN], [MADOITUONG], [XACSUATTREHAN], [GIOIYNGUONLUC]) VALUES (2, 2, 3, 2026, 86.070564270019531, N'Cần tập trung tối ưu hóa thời gian xử lý các task con có độ khó cấp 4.', CAST(N'2026-03-11T15:50:15.100' AS DateTime), NULL, 0.10023329004967915, N'Bổ sung nhân sự hỗ trợ mảng Testing vào giai đoạn cuối.')
INSERT [dbo].[DUDOANAI] ([MADUDOAN], [MANHANVIEN], [THANG], [NAM], [DIEMDUDOAN], [DEXUATCAITHIEN], [THOIGIANDUDOAN], [MADOITUONG], [XACSUATTREHAN], [GIOIYNGUONLUC]) VALUES (3, 3, 3, 2026, 83.907646179199219, N'Cần tập trung tối ưu hóa thời gian xử lý các task con có độ khó cấp 4.', CAST(N'2026-03-11T15:50:15.100' AS DateTime), NULL, 0.20368437954327126, N'Bổ sung nhân sự hỗ trợ mảng Testing vào giai đoạn cuối.')
SET IDENTITY_INSERT [dbo].[DUDOANAI] OFF
GO
INSERT [dbo].[KETQUAKPI] ([MAKETQUA], [MANHANVIEN], [MADOANHMUC], [DIEMSO], [THANG], [NAM]) VALUES (101, 1, 3, 92.10827809109243, 1, 2025)
INSERT [dbo].[KETQUAKPI] ([MAKETQUA], [MANHANVIEN], [MADOANHMUC], [DIEMSO], [THANG], [NAM]) VALUES (102, 1, 1, 86.641110909194452, 2, 2025)
INSERT [dbo].[KETQUAKPI] ([MAKETQUA], [MANHANVIEN], [MADOANHMUC], [DIEMSO], [THANG], [NAM]) VALUES (103, 1, 2, 88.122819178168612, 3, 2025)
GO
INSERT [dbo].[KYNANG] ([MAKYNANG], [TENKYNANG]) VALUES (1, N'Lập trình .NET 8')
INSERT [dbo].[KYNANG] ([MAKYNANG], [TENKYNANG]) VALUES (2, N'Quản trị SQL Server')
INSERT [dbo].[KYNANG] ([MAKYNANG], [TENKYNANG]) VALUES (3, N'Phân tích dữ liệu AI')
GO
INSERT [dbo].[KYNANGNHANVIEN] ([MANHANVIEN], [MAKYNANG], [CAPDO], [SODUANDADUNGKYNANGNAY]) VALUES (1, 2, 3, 2)
INSERT [dbo].[KYNANGNHANVIEN] ([MANHANVIEN], [MAKYNANG], [CAPDO], [SODUANDADUNGKYNANGNAY]) VALUES (1, 5, 5, 8)
INSERT [dbo].[KYNANGNHANVIEN] ([MANHANVIEN], [MAKYNANG], [CAPDO], [SODUANDADUNGKYNANGNAY]) VALUES (2, 1, 2, 2)
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [MAPHONGBAN], [HOTEN], [NGAYSINH], [CCCD], [DIACHI], [GIOITINH], [EMAIL], [SDT], [NGAYVAOLAM], [TRANGTHAI], [SONAMKINHNGHIEM], [DIEMKPI_TICHLUY]) VALUES (1, 1, N'Nguyễn Hữu Trọng', CAST(N'2000-01-01' AS Date), N'012345678901', N'An Giang', N'Nam', N'trong@gmail.com', N'0901234567', CAST(N'2024-01-01' AS Date), 1, 2, 95)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [MAPHONGBAN], [HOTEN], [NGAYSINH], [CCCD], [DIACHI], [GIOITINH], [EMAIL], [SDT], [NGAYVAOLAM], [TRANGTHAI], [SONAMKINHNGHIEM], [DIEMKPI_TICHLUY]) VALUES (2, 1, N'Nguyễn Văn An', CAST(N'1995-05-20' AS Date), N'092095002', N'Cần Thơ', N'Nam', N'user2@gmail.com', N'090123452', CAST(N'2024-01-10' AS Date), 1, 4, 85.5)
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [MAPHONGBAN], [HOTEN], [NGAYSINH], [CCCD], [DIACHI], [GIOITINH], [EMAIL], [SDT], [NGAYVAOLAM], [TRANGTHAI], [SONAMKINHNGHIEM], [DIEMKPI_TICHLUY]) VALUES (3, 1, N'Lê Thị Thanh Thủy', CAST(N'1995-05-20' AS Date), N'092095003', N'Cần Thơ', N'Nữ', N'user3@nct.edu.vn', N'090123453', CAST(N'2024-01-10' AS Date), 1, 4, 85.5)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHATKYCONGVIEC] ON 

INSERT [dbo].[NHATKYCONGVIEC] ([MANHATKYCONGVIEC], [MACONGVIEC], [PHANTRAMHOANTHANH], [GHICHU], [NGAYCAPNHAT]) VALUES (1801, 25, 17.122843536663151, NULL, CAST(N'2026-02-07T15:49:01.763' AS DateTime))
INSERT [dbo].[NHATKYCONGVIEC] ([MANHATKYCONGVIEC], [MACONGVIEC], [PHANTRAMHOANTHANH], [GHICHU], [NGAYCAPNHAT]) VALUES (1802, 15, 50.943295416352171, NULL, CAST(N'2026-02-20T15:49:01.770' AS DateTime))
INSERT [dbo].[NHATKYCONGVIEC] ([MANHATKYCONGVIEC], [MACONGVIEC], [PHANTRAMHOANTHANH], [GHICHU], [NGAYCAPNHAT]) VALUES (1803, 83, 58.806031310035365, NULL, CAST(N'2026-02-19T15:49:01.770' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[NHATKYCONGVIEC] OFF
GO
INSERT [dbo].[NHATKYHOATDONG] ([MANHATKYHOATDONG], [MANHANVIEN], [HANHDONG], [THOIGIAN]) VALUES (1, 25, N'Đăng nhập hệ thống', CAST(N'2026-03-11T15:49:02.087' AS DateTime))
INSERT [dbo].[NHATKYHOATDONG] ([MANHATKYHOATDONG], [MANHANVIEN], [HANHDONG], [THOIGIAN]) VALUES (2, 30, N'Đăng nhập hệ thống', CAST(N'2026-03-11T15:49:02.087' AS DateTime))
INSERT [dbo].[NHATKYHOATDONG] ([MANHATKYHOATDONG], [MANHANVIEN], [HANHDONG], [THOIGIAN]) VALUES (3, 14, N'Đăng nhập hệ thống', CAST(N'2026-03-11T15:49:02.087' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[NHOM] ON 

INSERT [dbo].[NHOM] ([MANHOM], [TENNHOM], [NGAYTAO]) VALUES (1, N'Nhóm Phát triển Core AI', CAST(N'2025-01-05T00:00:00.000' AS DateTime))
INSERT [dbo].[NHOM] ([MANHOM], [TENNHOM], [NGAYTAO]) VALUES (2, N'Nhóm Thiết kế UI/UX Smart', CAST(N'2025-02-10T00:00:00.000' AS DateTime))
INSERT [dbo].[NHOM] ([MANHOM], [TENNHOM], [NGAYTAO]) VALUES (3, N'Nhóm Triển khai hạ tầng Cloud', CAST(N'2025-06-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[NHOM] OFF
GO
SET IDENTITY_INSERT [dbo].[PHANCONGCONGVIEC] ON 

INSERT [dbo].[PHANCONGCONGVIEC] ([MAPHANCONG], [MACONGVIEC], [MAPHONGBAN], [MANHOM], [MANHANVIEN], [LOAIDOITUONG], [NGAYGIAO], [NGAYBATDAUDUKIEN], [NGAYKETTHUCDUKIEN], [NGAYBATDAUTHUCTE], [NGAYKETTHUCTHUCTE]) VALUES (868, 2, NULL, NULL, 30, N'NhanVien', CAST(N'2025-01-10T00:00:00.000' AS DateTime), CAST(N'2025-01-15T00:00:00.000' AS DateTime), CAST(N'2026-04-30T00:00:00.000' AS DateTime), CAST(N'2025-01-15T00:00:00.000' AS DateTime), CAST(N'2026-04-28T00:00:00.000' AS DateTime))
INSERT [dbo].[PHANCONGCONGVIEC] ([MAPHANCONG], [MACONGVIEC], [MAPHONGBAN], [MANHOM], [MANHANVIEN], [LOAIDOITUONG], [NGAYGIAO], [NGAYBATDAUDUKIEN], [NGAYKETTHUCDUKIEN], [NGAYBATDAUTHUCTE], [NGAYKETTHUCTHUCTE]) VALUES (869, 3, NULL, NULL, 25, N'NhanVien', CAST(N'2025-01-10T00:00:00.000' AS DateTime), CAST(N'2025-01-15T00:00:00.000' AS DateTime), CAST(N'2026-04-30T00:00:00.000' AS DateTime), CAST(N'2025-01-16T00:00:00.000' AS DateTime), CAST(N'2026-05-02T00:00:00.000' AS DateTime))
INSERT [dbo].[PHANCONGCONGVIEC] ([MAPHANCONG], [MACONGVIEC], [MAPHONGBAN], [MANHOM], [MANHANVIEN], [LOAIDOITUONG], [NGAYGIAO], [NGAYBATDAUDUKIEN], [NGAYKETTHUCDUKIEN], [NGAYBATDAUTHUCTE], [NGAYKETTHUCTHUCTE]) VALUES (870, 4, NULL, NULL, 25, N'NhanVien', CAST(N'2025-01-10T00:00:00.000' AS DateTime), CAST(N'2025-01-15T00:00:00.000' AS DateTime), CAST(N'2026-04-30T00:00:00.000' AS DateTime), CAST(N'2025-01-15T00:00:00.000' AS DateTime), CAST(N'2026-04-30T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PHANCONGCONGVIEC] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONGBAN] ON 

INSERT [dbo].[PHONGBAN] ([MAPHONGBAN], [TENPHONGBAN], [MOTA], [MATRUONGPHONG]) VALUES (1, N'Phòng Kỹ thuật', N'Phát triển phần mềm', NULL)
INSERT [dbo].[PHONGBAN] ([MAPHONGBAN], [TENPHONGBAN], [MOTA], [MATRUONGPHONG]) VALUES (2, N'Phòng Kinh doanh', N'Phát triển thị trường và doanh thu', NULL)
INSERT [dbo].[PHONGBAN] ([MAPHONGBAN], [TENPHONGBAN], [MOTA], [MATRUONGPHONG]) VALUES (3, N'Phòng Marketing', N'Quảng bá thương hiệu và sản phẩm', NULL)
SET IDENTITY_INSERT [dbo].[PHONGBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TAILIEU] ON 

INSERT [dbo].[TAILIEU] ([MATAILIEU], [TENTAILIEU], [HUONGDAN]) VALUES (1, N'Tai_Lieu_Nghiep_Vu_2025.pdf', N'Tài liệu hướng dẫn quy trình vận hành hệ thống ERP')
INSERT [dbo].[TAILIEU] ([MATAILIEU], [TENTAILIEU], [HUONGDAN]) VALUES (2, N'Kien_Truc_He_Thong_SmartPerformance.docx', N'Mô tả kiến trúc đệ quy và sơ đồ dữ liệu')
INSERT [dbo].[TAILIEU] ([MATAILIEU], [TENTAILIEU], [HUONGDAN]) VALUES (3, N'Bao_Cao_AI_RandomForest.xlsx', N'Dữ liệu thực nghiệm phân loại hiệu suất nhân viên')
SET IDENTITY_INSERT [dbo].[TAILIEU] OFF
GO
INSERT [dbo].[THANHVIENNHOM] ([MANHOM], [MANHANVIEN], [NGAYGIANHAP], [VAITROTRONGNHOM]) VALUES (1, 4, CAST(N'2025-01-01T00:00:00.000' AS DateTime), N'Trưởng nhóm')
INSERT [dbo].[THANHVIENNHOM] ([MANHOM], [MANHANVIEN], [NGAYGIANHAP], [VAITROTRONGNHOM]) VALUES (1, 9, CAST(N'2025-01-01T00:00:00.000' AS DateTime), N'Thành viên')
INSERT [dbo].[THANHVIENNHOM] ([MANHOM], [MANHANVIEN], [NGAYGIANHAP], [VAITROTRONGNHOM]) VALUES (1, 14, CAST(N'2025-01-01T00:00:00.000' AS DateTime), N'Thành viên')
GO
SET IDENTITY_INSERT [dbo].[THONGBAO] ON 

INSERT [dbo].[THONGBAO] ([MATHONGBAO], [NOIDUNG], [DADOC], [THOIGIAN]) VALUES (1, N'Bạn có công việc mới cần xử lý ngay.', 0, CAST(N'2026-03-10T15:50:15.083' AS DateTime))
INSERT [dbo].[THONGBAO] ([MATHONGBAO], [NOIDUNG], [DADOC], [THOIGIAN]) VALUES (2, N'Bạn có công việc mới cần xử lý ngay.', 1, CAST(N'2026-03-09T15:50:15.083' AS DateTime))
INSERT [dbo].[THONGBAO] ([MATHONGBAO], [NOIDUNG], [DADOC], [THOIGIAN]) VALUES (3, N'Bạn có công việc mới cần xử lý ngay.', 1, CAST(N'2026-03-08T15:50:15.087' AS DateTime))
SET IDENTITY_INSERT [dbo].[THONGBAO] OFF
GO
INSERT [dbo].[THONGBAO_CHO_NV] ([MATHONGBAO], [MANHANVIEN]) VALUES (6, 2)
INSERT [dbo].[THONGBAO_CHO_NV] ([MATHONGBAO], [MANHANVIEN]) VALUES (8, 2)
INSERT [dbo].[THONGBAO_CHO_NV] ([MATHONGBAO], [MANHANVIEN]) VALUES (15, 2)
GO
INSERT [dbo].[TRANGTHAICONGVIEC] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (1, N'Chưa bắt đầu')
INSERT [dbo].[TRANGTHAICONGVIEC] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (2, N'Đang thực hiện')
INSERT [dbo].[TRANGTHAICONGVIEC] ([MATRANGTHAI], [TENTRANGTHAI]) VALUES (3, N'Hoàn thành')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CV_DEQUY_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [CV_DEQUY_FK] ON [dbo].[CONGVIEC]
(
	[CON_MACONGVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CV_THUOC_TRANGTHAI_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [CV_THUOC_TRANGTHAI_FK] ON [dbo].[CONGVIEC]
(
	[MATRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [DA_BAOGOM_CV_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [DA_BAOGOM_CV_FK] ON [dbo].[CONGVIEC]
(
	[MADUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CV_DINHKEM_TL_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [CV_DINHKEM_TL_FK] ON [dbo].[CV_DINHKEM_TL]
(
	[MACONGVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CV_DINHKEM_TL2_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [CV_DINHKEM_TL2_FK] ON [dbo].[CV_DINHKEM_TL]
(
	[MATAILIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NV_DUOC_DUDOAN_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [NV_DUOC_DUDOAN_FK] ON [dbo].[DUDOANAI]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [KPI_THUOC_DANHMUC_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [KPI_THUOC_DANHMUC_FK] ON [dbo].[KETQUAKPI]
(
	[MADOANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NV_CO_KETQUAKPI_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [NV_CO_KETQUAKPI_FK] ON [dbo].[KETQUAKPI]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [KYNANGNHANVIEN_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [KYNANGNHANVIEN_FK] ON [dbo].[KYNANGNHANVIEN]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [KYNANGNHANVIEN2_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [KYNANGNHANVIEN2_FK] ON [dbo].[KYNANGNHANVIEN]
(
	[MAKYNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PB_QUANLY_NV_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [PB_QUANLY_NV_FK] ON [dbo].[NHANVIEN]
(
	[MAPHONGBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CV_CO_NHATKY_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [CV_CO_NHATKY_FK] ON [dbo].[NHATKYCONGVIEC]
(
	[MACONGVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NKHD_CUA_NHANVIEN_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [NKHD_CUA_NHANVIEN_FK] ON [dbo].[NHATKYHOATDONG]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CV_CO_PHANCONG_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [CV_CO_PHANCONG_FK] ON [dbo].[PHANCONGCONGVIEC]
(
	[MACONGVIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NHOM_DUOC_GIAO_VIEC_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [NHOM_DUOC_GIAO_VIEC_FK] ON [dbo].[PHANCONGCONGVIEC]
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NV_DUOC_GIAO_VIEC_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [NV_DUOC_GIAO_VIEC_FK] ON [dbo].[PHANCONGCONGVIEC]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PB_DUOC_GIAO_VIEC_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [PB_DUOC_GIAO_VIEC_FK] ON [dbo].[PHANCONGCONGVIEC]
(
	[MAPHONGBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [THANHVIENNHOM_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [THANHVIENNHOM_FK] ON [dbo].[THANHVIENNHOM]
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [THANHVIENNHOM2_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [THANHVIENNHOM2_FK] ON [dbo].[THANHVIENNHOM]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [THONGBAO_CHO_NV_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [THONGBAO_CHO_NV_FK] ON [dbo].[THONGBAO_CHO_NV]
(
	[MATHONGBAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [THONGBAO_CHO_NV2_FK]    Script Date: 13/03/2026 2:06:43 CH ******/
CREATE NONCLUSTERED INDEX [THONGBAO_CHO_NV2_FK] ON [dbo].[THONGBAO_CHO_NV]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BINHLUAN] ADD  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_NhanVien]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD FOREIGN KEY([MACONGVIEC])
REFERENCES [dbo].[CONGVIEC] ([MACONGVIEC])
GO
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONGVIEC_CV_DEQUY_CONGVIEC] FOREIGN KEY([CON_MACONGVIEC])
REFERENCES [dbo].[CONGVIEC] ([MACONGVIEC])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CONGVIEC_CV_DEQUY_CONGVIEC]
GO
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONGVIEC_CV_THUOC__TRANGTHA] FOREIGN KEY([MATRANGTHAI])
REFERENCES [dbo].[TRANGTHAICONGVIEC] ([MATRANGTHAI])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CONGVIEC_CV_THUOC__TRANGTHA]
GO
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONGVIEC_DA_BAOGOM_DUAN] FOREIGN KEY([MADUAN])
REFERENCES [dbo].[DUAN] ([MADUAN])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CONGVIEC_DA_BAOGOM_DUAN]
GO
ALTER TABLE [dbo].[CV_DINHKEM_TL]  WITH CHECK ADD  CONSTRAINT [FK_CV_DINHK_CV_DINHKE_CONGVIEC] FOREIGN KEY([MACONGVIEC])
REFERENCES [dbo].[CONGVIEC] ([MACONGVIEC])
GO
ALTER TABLE [dbo].[CV_DINHKEM_TL] CHECK CONSTRAINT [FK_CV_DINHK_CV_DINHKE_CONGVIEC]
GO
ALTER TABLE [dbo].[CV_DINHKEM_TL]  WITH CHECK ADD  CONSTRAINT [FK_CV_DINHK_CV_DINHKE_TAILIEU] FOREIGN KEY([MATAILIEU])
REFERENCES [dbo].[TAILIEU] ([MATAILIEU])
GO
ALTER TABLE [dbo].[CV_DINHKEM_TL] CHECK CONSTRAINT [FK_CV_DINHK_CV_DINHKE_TAILIEU]
GO
ALTER TABLE [dbo].[DUDOANAI]  WITH CHECK ADD  CONSTRAINT [FK_DUDOANAI_NV_DUOC_D_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[DUDOANAI] CHECK CONSTRAINT [FK_DUDOANAI_NV_DUOC_D_NHANVIEN]
GO
ALTER TABLE [dbo].[KETQUAKPI]  WITH CHECK ADD  CONSTRAINT [FK_KETQUAKP_KPI_THUOC_DANHMUCK] FOREIGN KEY([MADOANHMUC])
REFERENCES [dbo].[DANHMUCKPI] ([MADOANHMUC])
GO
ALTER TABLE [dbo].[KETQUAKPI] CHECK CONSTRAINT [FK_KETQUAKP_KPI_THUOC_DANHMUCK]
GO
ALTER TABLE [dbo].[KETQUAKPI]  WITH CHECK ADD  CONSTRAINT [FK_KETQUAKP_NV_CO_KET_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[KETQUAKPI] CHECK CONSTRAINT [FK_KETQUAKP_NV_CO_KET_NHANVIEN]
GO
ALTER TABLE [dbo].[KYNANGNHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_KYNANGNH_KYNANGNHA_KYNANG] FOREIGN KEY([MAKYNANG])
REFERENCES [dbo].[KYNANG] ([MAKYNANG])
GO
ALTER TABLE [dbo].[KYNANGNHANVIEN] CHECK CONSTRAINT [FK_KYNANGNH_KYNANGNHA_KYNANG]
GO
ALTER TABLE [dbo].[KYNANGNHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_KYNANGNH_KYNANGNHA_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[KYNANGNHANVIEN] CHECK CONSTRAINT [FK_KYNANGNH_KYNANGNHA_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PB_QUANLY_PHONGBAN] FOREIGN KEY([MAPHONGBAN])
REFERENCES [dbo].[PHONGBAN] ([MAPHONGBAN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PB_QUANLY_PHONGBAN]
GO
ALTER TABLE [dbo].[NHATKYCONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_NHATKYCO_CV_CO_NHA_CONGVIEC] FOREIGN KEY([MACONGVIEC])
REFERENCES [dbo].[CONGVIEC] ([MACONGVIEC])
GO
ALTER TABLE [dbo].[NHATKYCONGVIEC] CHECK CONSTRAINT [FK_NHATKYCO_CV_CO_NHA_CONGVIEC]
GO
ALTER TABLE [dbo].[NHATKYHOATDONG]  WITH CHECK ADD  CONSTRAINT [FK_NHATKYHO_NKHD_CUA__NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[NHATKYHOATDONG] CHECK CONSTRAINT [FK_NHATKYHO_NKHD_CUA__NHANVIEN]
GO
ALTER TABLE [dbo].[PHANCONGCONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_CV_CO_PHA_CONGVIEC] FOREIGN KEY([MACONGVIEC])
REFERENCES [dbo].[CONGVIEC] ([MACONGVIEC])
GO
ALTER TABLE [dbo].[PHANCONGCONGVIEC] CHECK CONSTRAINT [FK_PHANCONG_CV_CO_PHA_CONGVIEC]
GO
ALTER TABLE [dbo].[PHANCONGCONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_NHOM_DUOC_NHOM] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOM] ([MANHOM])
GO
ALTER TABLE [dbo].[PHANCONGCONGVIEC] CHECK CONSTRAINT [FK_PHANCONG_NHOM_DUOC_NHOM]
GO
ALTER TABLE [dbo].[PHANCONGCONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_NV_DUOC_G_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHANCONGCONGVIEC] CHECK CONSTRAINT [FK_PHANCONG_NV_DUOC_G_NHANVIEN]
GO
ALTER TABLE [dbo].[PHANCONGCONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_PB_DUOC_G_PHONGBAN] FOREIGN KEY([MAPHONGBAN])
REFERENCES [dbo].[PHONGBAN] ([MAPHONGBAN])
GO
ALTER TABLE [dbo].[PHANCONGCONGVIEC] CHECK CONSTRAINT [FK_PHANCONG_PB_DUOC_G_PHONGBAN]
GO
ALTER TABLE [dbo].[THANHVIENNHOM]  WITH CHECK ADD  CONSTRAINT [FK_THANHVIE_THANHVIEN_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[THANHVIENNHOM] CHECK CONSTRAINT [FK_THANHVIE_THANHVIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[THANHVIENNHOM]  WITH CHECK ADD  CONSTRAINT [FK_THANHVIE_THANHVIEN_NHOM] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOM] ([MANHOM])
GO
ALTER TABLE [dbo].[THANHVIENNHOM] CHECK CONSTRAINT [FK_THANHVIE_THANHVIEN_NHOM]
GO
ALTER TABLE [dbo].[THONGBAO_CHO_NV]  WITH CHECK ADD  CONSTRAINT [FK_THONGBAO_THONGBAO__NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[THONGBAO_CHO_NV] CHECK CONSTRAINT [FK_THONGBAO_THONGBAO__NHANVIEN]
GO
ALTER TABLE [dbo].[THONGBAO_CHO_NV]  WITH CHECK ADD  CONSTRAINT [FK_THONGBAO_THONGBAO__THONGBAO] FOREIGN KEY([MATHONGBAO])
REFERENCES [dbo].[THONGBAO] ([MATHONGBAO])
GO
ALTER TABLE [dbo].[THONGBAO_CHO_NV] CHECK CONSTRAINT [FK_THONGBAO_THONGBAO__THONGBAO]
GO
USE [master]
GO
